.admission_to_team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.admission_to_team h1 {
  margin-bottom: 20px;
}

.admission_item > * {
  display: block;
}

.admission_item .stage {
  color: #0080c8;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 140%;
  padding-bottom: 20px;
}

.admission_item .name_stage {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #0080C8;
}

.admission_item p {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
}

.admission_item {
  max-width: 40vw;
  border-radius: 34px;
  border: 1px solid #0080C8;
  padding: 20px 20px 72px;
}

.vertical_divider {
  background: #0080C8;
  align-content: center;
  height: 40px;
  width: 1px;
}

@media (max-width: 960px) {
  .admission_item {
    max-width: fit-content;
    border-radius: 34px;
    border: 1px solid #0080C8;
    padding: 20px 20px 20px;
  }

  .admission_item .stage {
    color: #0080c8;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    line-height: 140%;
    padding-bottom: 0;
  }
}
