.header {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header .menu_btn {
    display: flex;
    gap: 20px;
}

.menu_items {
    display: flex;
    gap: 40px;
}

.menu_items a {
    font-weight: normal;
    color: #181818;
}

.menu_items a:hover {
    color: #0080c8;
}

.hero {
    width: 100%;
}

.burger_menu {
    display: none;
}