.btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    background: transparent;
    width: fit-content;
    height: fit-content;
}

.btn:hover {
    border: 2px solid transparent;
}

.sent_cv {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    width: 588px;
    max-width: 90vw;
    background: white;
    border-radius: 24px;
    padding: 24px;
    transition: all 0.3s ease;
    overflow: hidden;
}

.header_controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
}

