footer .footer_desktop  {
    padding-top: 81px;
    margin: 115px 60px 80px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dadbdd;
}

footer .footer_mobile {
    display: none;
}

footer .footer_about_company img {
    width: calc(50%);
    border-radius: 0;
}

footer .footer_about_company {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .footer_about_company span {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #9c9d9f;
    display: block;
}

footer nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

footer nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    gap: 16px;
}

footer nav li {
    list-style-type: none;
}

@media (max-width: 960px) {
    footer .footer_desktop {
        padding-top: 2vh;
        margin: 70px 20px 80px;
        display: flex;
        justify-content: space-between;
    }

    footer .footer-about-company img {
        width: calc(70%);
        border-radius: 0;
    }

    footer nav {
        display: flex;
        flex-direction: row;
        gap: 12px;
        font-size: 14px;
    }

    footer nav ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        padding: 10px;
    }
}

@media (max-width: 570px) {
    footer .footer_desktop {
        display: none;
    }

    footer .footer_mobile {
        display: block;
        padding-top: 2vh;
        margin: 70px 20px 80px;
        border-top: 1px solid #dadbdd;
    }

    .footer_mobile .footer_first {
        display: flex;
        justify-content: space-between;
    }

    .footer_mobile .footer_menu ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .footer_copy {
        font-size: 10px;
        line-height: 14px;
        opacity: 0.4;
    }

    .footer_bottom .footer_copy a {
        text-decoration: underline !important;
    }
}