.about {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.about p {
    font-size: 20px;
}

.about_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    width: 305px;
    gap: 10px;
    border-radius: 34px;
    padding: 20px;
}

.about_item span {
    font-weight: 600;
    font-size: 82px;
    line-height: 105%;
    text-align: center;
    color: #0080c8;
}

.about_item p {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    max-width: 12vw;
    color: #0080c8;
}

.about_company img {
    width: calc(100%);
    border-radius: 34px;
}